[Unit]
Description=Stockwaage Pi Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Stockwaage/pi
ExecStart=/home/pi/Stockwaage/pi/.venv/bin/python main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
